@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url(./pages/profile/profile.css);

.main_content {
    &-logo {
        background-image: url(./icons/logo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        padding: 11.5rem 0 ;
    }
    &-title {
        font-family: 'Allison', cursive;
        font-size: 8rem;
    }
    .content_title {
        &-text {
            font-size: 1.5rem;
        }
    }
}
.swiper {
    &-slide {
        margin: 0 auto 3%;
        height: 370px;
        text-align: center;
        font-size: 18px;
        background: #A3A3A3;
    
        /* Center slide text vertically */
        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        img {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
    }
    &-navigate {
        position: absolute;
        top: 14%;
        right: 2%;
        .fa-solid {
            margin: 0 10px;
            &:hover {
                color: darken(wheat, 50%);
            }
        }
    }
    &-description {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        margin: 1% 0;
    }
    &-percent {
        font-weight: bold;
    }   
}
.novelties, .popular {
    margin-bottom: 3rem;
}
.content-list {
    .product{
        &-item {
            width: 20%;
        }
        &-image {
            &::before {
                display: none; // remove it after including real items
            }
        }
    }
}
.show-all {
    display: block;
    text-align: end;
    margin-right: 30px;
    cursor: pointer;
    color: #000;
    &:hover {
        color: #956814;
    }
}

