@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url(../pages/pages.css);
@import url(../pages/profile/profile.css);


.main__content {
    &-count {
        display: flex;
        justify-content: right;
        font-size: 14px;
    }
    &-filters {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid;
        border-top: 1px solid;
        margin: 1rem 0;
        padding: 0.7rem 0;
        gap: 15px;
        .dropdown {
            &-toggle {
                color: #000;
                &::after {
                    display: none;
                }
            }
            &-menu {
                min-width: 13em;
            }
        }
        .form-check {
            display: block;
            min-height: 1.5rem;
            padding-left: 1.5em;
            margin: 0 1rem 0.1em;
        }
    }
}
.form_check input[type=checkbox] + label{
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}