@import url('https://fonts.cdnfonts.com/css/raleway-5');
.user {
    &-wrapper {
        display: flex;
        flex-direction: row;
        margin-bottom: 5em;
        gap: 30px;
    }
    &-menu {
        margin: 2em 0;
        flex: 0 0;
    }
    &-data {
        display: flex;
        gap: 15px;
    }
    &-photo {
        position: relative;
        border-radius: 20px;
        &::after {
            content: '';
            background-image: url('../../../../icons/check-circle.svg');
            width: 24px;
            height: 24px;
            display: flex;
            position: absolute;
            right: -7px;
            bottom: -1px;
        }
    }
    &-fio {
        display: flex;
        align-items: center;
    }
    &-navigate {
        .navigate-link {
            margin-top: 1em;
            display: flex;
            font-size: 1em;
            white-space: nowrap;
            color: black;
            &.active {
                font-weight: bold;
            }
        }
    }
    &-content {
        flex: 1 1;
        margin: 0 5em;
        .content-title {
            text-align: right;
            margin: 1.5em 0;
        }
    }
}